html * {
  box-sizing: border-box;
}

body {
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  display: grid;
  grid-template-rows: auto 200px 80px;
  max-width: 1440px;
  margin: 0 auto;
}

body a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

main {
  background-image: url("./img/headerPic.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  font-weight: 100;
  height: 69vh;
  max-width: 1440px;
  min-width: 1024px;
  min-height: 550px;
}

nav form input {
  position: relative;
  width: 126px;
  height: 22px;
  border-radius: 12px;
  border: 1px solid transparent;
  border-bottom: 0.5px solid rgb(156, 155, 155);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.758);
  background: url("./img/search-icon-wt.png") top 5px left 7px no-repeat;
  background-size: 12px;
  padding: 1px 0 1px 23px;
  transition: all 0.3s ease-in-out;
}

nav form input:focus {
  background: url("./img/search-icon-blk.png") #fff top 5px left 7px no-repeat;
  background-size: 12px;
  width: 170px;
  outline: none;
  border: none;
}

.nav-menu {
  background:
    linear-gradient(
      rgb(153, 149, 149) 0%,
      rgb(110, 110, 110) 45%,
      rgb(80, 80, 80) 50%,
      rgb(120, 120, 120) 98%
    );
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0.5px 0.5px 1px 0.2px rgb(58, 57, 57);
  height: 36px;
  width: 980px;
  top: 70px;
  margin: 17px auto;
  font-size: 12px;
  font-weight: 200;
}

.nav-menu li {
  font-weight: 400;
  width: 70%;
  line-height: 36px;
  vertical-align: middle;
  border-right: 0.02px rgb(94, 92, 92) solid;
  box-shadow: 0.5px 0 3px 0 rgba(255, 255, 255, 0.2);
}

.nav-menu li:first-child {
  font-size: 23px;
}

.nav-menu li:hover {
  text-decoration: none;
  cursor: pointer;
  border-image: url(./img/btn-hover-1.png) 0 2 0 1 fill;
  background:
    url(./img/btn-hover-2.png) 1px 1px repeat-x,
    url(./img/btn-hover-3.png) 100% 1px repeat-y,
    url(./img/btn-hover-4png) 1px 1px repeat-y,
    rgba(0, 0, 0, 0.4);
}

.nav-menu label {
  width: 80%;
  margin: 0 10px;
}

span.fab.fa-apple {
  background:
    linear-gradient(
      rgb(246, 247, 247) 0%,
      rgb(243, 244, 245) 40%,
      rgb(191, 190, 190) 70%
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banners {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: start;
  text-align: center;
  margin-top: 2px;
  min-width: 1024px;
}

.banners a {
  width: 25vw;
  max-width: 360px;
  min-width: 256px;
}

.banner-1 {
  background: url("./img/iphone5s.jpg") center no-repeat;
  background-size: auto;
}

.banner-2 {
  background: url("./img/iphone5c.jpg") center no-repeat;
  background-size: auto;
}

.banner-3 {
  background: url("./img/mac_birthday.jpg") center no-repeat;
  background-size: auto;
}

.banner-4 {
  background: url("./img/supplier.jpg") center no-repeat;
  background-size: auto;
}

.footer {
  font-family:
    "Lucida Sans",
    "Lucida Sans Regular",
    "Lucida Grande",
    "Lucida Sans Unicode",
    Geneva,
    Verdana,
    sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 490px);
  width: 980px;
  margin: 0 auto;
}

.footer a {
  color: rgb(28, 173, 209);
}

.header-text p a {
  color: transparent;
  text-shadow: 0 0 1px #fff;
}

.footer a:hover {
  text-decoration: underline;
}

.footer div {
  font-size: 10px;
  line-height: 2.5em;
  margin-top: 22px;
  font-weight: 400 !important;
  color: rgb(170, 168, 168);
}


.header-text {
  font-size: 32px;
  position: relative;
  top: -30px;
}

.header-text h1 {
  font-size: 2em;
  margin-top: 160px;
  margin-bottom: 20px;
  font-weight: 100;
  color: transparent;
  text-shadow: 0 0 1.5px #fff;
}

.header-text p:first-of-type {
  font-size: 1em;
  line-height: 1.4em;
  width: 830px;
  margin: 25px auto;
  text-shadow: 0 0 1.1px #fff;
}

.header-text p:nth-of-type(2) {
  font-size: 0.8em;
  width: 600px;
  margin: 25px auto;
  background: url("./img/play-btn.png") top 1px right 15px no-repeat;
  padding-right: 45px;
  height: 29px;
  cursor: pointer;
}

.header-text p a:hover {
  border-bottom: 1px outset #fff;
  display: inline-block;
}

.footer-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.footer-menu img {
  height: 16px;
}
