html * {
    box-sizing: border-box;
  }
  
  body {
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    display: grid;
    grid-template-rows: auto 200px 80px;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  body a {
    text-decoration: none;
    color: #fff;
  }

  li {
      list-style: none;
  }

